<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pers.xjh.test">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="pers.xjh.test.ui.TestMainActivity"
            android:icon="@drawable/test"
            android:label="测试工具"
            android:theme="@style/TestAppTheme"
            android:screenOrientation="portrait"
            android:taskAffinity="pers.xjh.test">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="pers.xjh.test.ui.CrashListActivity"
            android:theme="@style/TestAppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="pers.xjh.test.ui.CrashInfoActivity"
            android:theme="@style/TestAppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="pers.xjh.test.ui.MemoryInfoActivity"
            android:theme="@style/TestAppTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
